###### SmoothCrawler-Cluster Development (or Testing) Dependencies Requirements ######
## For running pytest ##
pytest >= 7.0.0
pytest-cov >= 3.0.0
pytest-html >= 3.1.1
pytest-rerunfailures >= 10.2

## For calculating code coverage ##
coverage >= 6.2    # In Python 3.6, its latest version supported is 6.2. But it supports 6.4 version in Python 3.10.
codecov >= 2.1.12
coveralls >= 3.3.1

## For some Python dependencies for testing code ##
aiohttp >= 3.8.1
urllib3 >= 1.26.8
requests >= 2.27.1
beautifulsoup4 >= 4.10.0
mysql-connector-python >= 8.0.28

## For running testing in a sandbox runtime environment via tool 'tox'
tox >= 3.25.1
